n8n-workflow-cicd-fastapi.json
{
  "name": "CI/CD FastAPI → Docker Hub → K3s",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-fastapi-ci",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-001-github",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "github-fastapi-ci",
      "notes": "Displayed URL comes from n8n env WEBHOOK_URL (ConfigMap aaf-n8n/n8n-config), not this note.\n\nPUBLIC (VS Code Dev Tunnel) — set in cluster:\n  WEBHOOK_URL=https://kk01hvzx-30678.inc1.devtunnels.ms/\n\nProduction (workflow Active):\n  https://kk01hvzx-30678.inc1.devtunnels.ms/webhook/github-fastapi-ci\n\nTest (Listen for test event):\n  https://kk01hvzx-30678.inc1.devtunnels.ms/webhook-test/github-fastapi-ci\n\nIf UI still shows http://127.0.0.1:30678/... update ConfigMap and restart deploy/n8n.\n\nGitHub webhook Payload URL = Production URL above.\nKeep the tunnel (30678) running."
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body ?? raw;\nconst headers = raw.headers ?? {};\n\nconst ref = body.ref || '';\nconst branch = ref.startsWith('refs/heads/') ? ref.replace('refs/heads/', '') : (body.branch || 'unknown');\nconst shaFull = body.after || body.head_commit?.id || '';\nconst sha = String(shaFull).slice(0, 12) || 'latest';\nconst repo = body.repository?.full_name || body.repository?.name || 'unknown';\nconst pusher = body.pusher?.name || body.sender?.login || 'unknown';\nconst isMain = branch === 'main' || branch === 'master';\n\nreturn [{\n  json: {\n    ref,\n    branch,\n    sha,\n    repo,\n    pusher,\n    isMain,\n  }\n}];"
      },
      "id": "code-001-parse",
      "name": "Parse GitHub Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-main",
              "leftValue": "={{ $json.isMain }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-001-main",
      "name": "Is main/master?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "command": "=/bin/bash -lc 'set -euo pipefail; if [ -f \"$HOME/.config/fastapi-ci.env\" ]; then set -a; . \"$HOME/.config/fastapi-ci.env\"; set +a; fi; export GIT_SHA=\"{{ $json.sha }}\" BRANCH=\"{{ $json.branch }}\" REPO_DIR=\"${REPO_DIR:-/home/yashree/development/fast-api}\" API_DIR=\"${API_DIR:-$REPO_DIR/apps/api}\" WEB_DIR=\"${WEB_DIR:-$REPO_DIR/apps/web}\" API_IMAGE_REPO=\"${API_IMAGE_REPO:-smitambalia/n8n}\" WEB_IMAGE_REPO=\"${WEB_IMAGE_REPO:-smitambalia/fast-web}\" KUBECONFIG_PATH=\"${KUBECONFIG_PATH:-$HOME/.kube/k3s.yaml}\" DEPLOY_API=1 DEPLOY_WEB=1; \"$REPO_DIR/scripts/ci-deploy.sh\" 2>&1'"
      },
      "id": "ssh-001-deploy",
      "name": "SSH: Build Push Deploy",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [920, 200],
      "notes": "MUST select credential: Host 10.42.0.1 Port 22 User yashree (SSH Password account you tested)."
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse GitHub Payload').first().json;\nconst item = $input.first().json;\nconst stdout = String(item.stdout ?? item.data ?? JSON.stringify(item));\nconst stderr = String(item.stderr ?? '');\nconst success = stdout.includes('Deployed') || (!stdout.toLowerCase().includes('error') && !stderr.toLowerCase().includes('error'));\n\nreturn [{\n  json: {\n    success,\n    branch: parse.branch,\n    sha: parse.sha,\n    repo: parse.repo,\n    pusher: parse.pusher,\n    image: 'smitambalia/n8n:' + parse.sha,\n    stdout: stdout.slice(-4000),\n    stderr: stderr.slice(-2000),\n    summary: success\n      ? ('CI OK: ' + parse.repo + '@' + parse.sha + ' -> k3s')\n      : ('CI FAILED: ' + parse.repo + '@' + parse.sha),\n  }\n}];"
      },
      "id": "code-002-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: $json.success, message: $json.summary, image: $json.image, sha: $json.sha, stdout: $json.stdout } }}",
        "options": {}
      },
      "id": "resp-001-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, skipped: true, reason: 'Not main/master', branch: $json.branch, sha: $json.sha } }}",
        "options": {}
      },
      "id": "resp-002-skip",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 440]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Parse GitHub Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GitHub Payload": {
      "main": [
        [
          {
            "node": "Is main/master?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is main/master?": {
      "main": [
        [
          {
            "node": "SSH: Build Push Deploy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH: Build Push Deploy": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": [
    {
      "name": "cicd"
    },
    {
      "name": "fastapi"
    }
  ]
}
